

h1{
 
    font-weight: 800;
    font-family: 'Nanum Gothic', sans-serif;
    margin-left: 230px;
}
span{
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

.back2{

    border-radius: 10px;
    background: #ffffff;
    margin-left: 200px;
    width: 1050px;

}


                     